version: '3'
services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    networks:
      - mern-network
    volumes:
      - ./client/src:/usr/app/src
      - ./client/public:/usr/app/public
    depends_on:
      - server
    environment:
      - REACT_APP_SERVER=http://localhost:5000
      - CHOKIDAR_USEPOLLING=true
    command: npm start
    # stdin_open: true
    # tty: true

  server:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - 5000:5000
    networks:
      - mern-network
    volumes:
      - ./api:/usr/app
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://db:27017
      - CLIENT=http://localhost:3000
    command: /usr/app/node_modules/.bin/nodemon -L server.js

  server2:
    build:
      context: ./api2
      dockerfile: Dockerfile
    ports:
      - 49152:49152
    networks:
      - mern-network
    volumes:
      - ./api2:/usr/app
    depends_on:
      - server
    environment:
      - MONGO_URL=mongodb://db:27017
      - CLIENT=http://localhost:3000
    command: /usr/app/node_modules/.bin/nodemon -L server.js


  mongo:
    image: mongo
    ports:
      - 27017:27017
    networks:
      - mern-network
    volumes:
      - ./data:/data/db
    container_name: mongo

networks:
  mern-network:
    driver: bridge

volumes:
  mongo-data:
    driver: local
